.registerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgb(192, 194, 248),
    white
  ); /* Градиентный фон */
  height: 100vh; /* Полная высота экрана */
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.register-logo-container {
  display: flex;
  justify-content: center;
  width: 351px;
  height: 294px;
  margin: 0 auto;
  @media screen and (max-width: 400px) {
    width: 250px;
    height: 100%;
  }
}

.register-logo-container img {
  @media screen and (max-width: 400px) {
    width: 100%;
    height: 100%;
  }
}

.register_name {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0;
}

.register_name_sms {
  font-size: 13px;
  width: 243px;
  text-align: center;
  margin-bottom: 40px;
}

.phoneInput {
  width: 234px;
  padding: 14px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  margin-bottom: 20px;
}

.phoneInput::placeholder {
  color: rgba(13, 13, 13, 0.4);
}

.phoneImg {
  position: absolute;
  left: 16px;
  top: 12px;
  width: 24px;
}

.register_button {
  padding: 14px 62px;
  border-radius: 12px;
  border: none;
  background: rgba(233, 233, 233, 1);
  color: rgba(168, 168, 168, 1);
  cursor: pointer;
}

.button-active {
  background: rgba(44, 30, 79, 1);
  color: white;
}

button:disabled {
  background: rgba(233, 233, 233, 1);
  color: rgba(168, 168, 168, 1);
  cursor: not-allowed;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
