.profile-page {
  max-width: 600px;
  min-height: 100vh; /* Занимаем всю высоту экрана */
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto; /* Центрируем по горизонтали */
  background: radial-gradient(
    circle at top center,
    rgb(203, 205, 248) 20%,
    rgba(203, 205, 248, 0) 30%
  );

  background-size: 100% 70%;
  background-repeat: no-repeat;
  padding-top: 20px;
}
/* .profile-header {
  
} */

.text-center {
}

.profile-content {
  flex-grow: 1; /* Занимаем доступное вертикальное пространство */
}

/* Остальные стили без изменений */

.back_btn {
  display: flex;
  justify-content: start;
}
.back_btn button {
  background-color: white;
  width: 71px;
  height: 34px;
  border-radius: 100px;
  color: black;
  border: none;
}

.profile_icon {
  margin-top: 71px;
  width: 92px;
  margin: 0 auto;
}

.profile_icon img {
  width: 100%;
}

.order_btn {
  background-color: #2c1e4f;
  width: 181px;
  height: 52px;
  border-radius: 12px;
  color: white;
}

.bottom_btn {
  display: flex;
  justify-content: space-between;
  position: fixed; /* Фиксируем положение */
  bottom: 0; /* Прижимаем к низу */
  left: 0; /* Растягиваем по ширине */
  right: 0; /* Растягиваем по ширине */
  padding: 20px;
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto; /* Центрируем по горизонтали */
}

.exit_btn {
  width: 73px;
  height: 22px;
  background: none;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #0d0d0d;
  border: none;
}

.delete_btn {
  width: 153px;
  height: 22px;
  background: none;
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  color: #dd483a;
}

.card-item-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 12px 16px;
}

.card-items {
  background: white;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin: 12px;
}
.cards-cover {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 12px;
  max-height: 80px;
  @media screen and (max-width: 375px) {
    width: 280px;
  }
}
.card-item-small_btn {
  background: inherit;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.profile_phone_number {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 50px;
}

.cards_status {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: rgba(13, 13, 13, 0.3);
}

.cards_id_status {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards_id {
  font-size: 18px;
  font-weight: 600;
}

.register_button-style {
  color: white;
  background-color: rgba(111, 53, 255, 1);
  border: none;
  padding: 15px 20px;
  border-radius: 12px;
}
