.profile-page {
  width: 100vw; /* Ширина на весь экран */
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background: linear-gradient(to bottom, rgb(192, 194, 248), white);
  box-sizing: border-box;
}
.back_btn {
  background-color: white;
  width: 71px;
  height: 34px;
  border-radius: 100px;
  color: black;
  left: 12px;
  top: 57px;
  position: absolute;
  border: none;
}
.profile_icon {
  margin-top: 71px;
  width: 92px;
  margin: 0 auto;
}
.profile_icon img {
  margin-top: 71px;
  width: 100%;
}
.order_btn {
  background-color: #2c1e4f;
  width: 181px;
  height: 52px;
  border-radius: 12px;
  color: white;
}
.bottom_btn {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}
.exit_btn {
  width: 73px;
  height: 22px;
  background: none;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #0d0d0d;
  border: none;
}
.delete_btn {
  width: 153px;
  height: 22px;
  background: none;
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  color: #dd483a;
}
.card-item-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 12px 16px;
}
.card-items {
  width: 320px;
  margin: 0 auto;
  background: white;
  border-radius: 16px;
}
.card-item-small_btn {
  background: inherit;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
.profile_phone_number {
  font-size: 20px;
  font-weight: 600;
}
