@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.p-4 {
  display: flex;
  justify-content: center;
}
.name_page h1 {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.name_page h1 svg {
  margin-right: 8px;
}

.space-y-4 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 10px;
}

.partners-card {
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.partners-card img {
  max-width: 576px;
  max-height: 141px;
  height: auto;
  object-fit: cover;
  display: block;
}

.p-3 {
  padding: 0.75rem;
  cursor: pointer;
}

.p-3 h2 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.p-3 p {
  font-size: 0.875rem;
  color: #6b7280;
}
