.amount-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
}
.amount-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.amount-put {
  font-size: 14px;
  font-weight: 600;
  color: rgba(111, 53, 255, 1);
}
.amount-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
  margin: 0 14px;
  border-radius: 10px;
}
.amount-cardwithMinus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  @media screen and (max-width: 360px) {
    flex-direction: column;
    gap: 10px;
  }
}
.minus-circle {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
}

.minus-sign {
  width: 10px;
  height: 2px;
  background-color: black;
  border-radius: 1px;
}
.amount-name {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  margin-right: 24px;
}
.amount-price {
  font-size: 12px;
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
}
.final-price-buttonn {
  background-color: rgba(44, 30, 79, 1);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 343px;
  margin-bottom: 20px;
}
.final-price-buttonCover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 14px;
  box-sizing: border-box;
  margin-top: 20px;
}

.priceAndButton {
  background: #ffffff;
  margin-top: 75px;
  text-align: center;
}
.finalPrice {
  font-size: 20px;
  font-weight: 600;
  padding: 20px 0;
}
.priceAndButton {
  border-radius: 28px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
}
