@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body.modal-open {
  overflow: hidden;
}

.home-container {
  background: linear-gradient(to bottom, rgb(203, 205, 248), white);
  padding: 10px;
}

.home-container__inner {
  max-width: 650px;
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  .home-container__inner {
    width: 100%;
  }
}

.profile_button-cover {
  display: flex;
  justify-content: flex-end;
}

.profile_main-photo {
  display: flex;
  justify-content: center;
  width: 351px;
  height: 294px;
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  .profile_main-photo {
    width: 300px;
    height: 100%;
  }
}

.profile_main-photo img {
  width: 100%;
  height: 100%;
}

.info-box {
  width: 351px;
  height: 270px;
  background-color: white;
  text-align: center;
  border-radius: 16px;
  padding: 15px;
  position: relative;
  margin: 10px;
}

@media screen and (max-width: 400px) {
  .info-box {
    width: 290px;
    height: 100%;
  }
}

.info-box_card {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.home-partners {
  display: flex;
  justify-content: space-between;
  width: 95%;
  border-radius: 16px;
  background: linear-gradient(135deg, #e5e6fa, #babdff);
  padding-left: 10px;
}

.right-partners button {
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 100px;
  top: 10px;
  left: 305px;
}

.buttons-category {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.category-button {
  padding: 10px 20px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  transition: all 0.3s ease;
  white-space: nowrap;
}

@media screen and (max-width: 400px) {
  .category-button {
    padding: 0;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 12px 14px;
  border-radius: 12px;
  width: 355px;
}

@media screen and (max-width: 400px) {
  .modal-content {
    width: 300px;
  }
}

@media screen and (max-width: 340px) {
  .modal-content {
    width: 270px;
  }
}

.Model_flex-text-img__text {
  width: 200px;
  font-size: 12px;
}

@media screen and (max-width: 340px) {
  .Model_flex-text-img__text {
    width: 180px;
  }
}

.Model_flex-text-title {
  width: 200px;
  font-size: 16px;
}

@media screen and (max-width: 340px) {
  .Model_flex-text-title {
    width: 180px;
  }
}

.Model_flex-text-img__img {
  width: 100px;
  height: 70px;
  margin: 0 5px;
}

.Model_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 400px) {
  .Model_flex {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.Model_price {
  font-size: 20px;
  color: rgba(111, 53, 255, 1);
}

.Model_btn1 {
  width: 102px;
  height: 36px;
  color: rgba(111, 53, 255, 1);
  padding: 8px 14px;
  background-color: #fff;
  border: 1px rgba(111, 53, 255, 1) solid;
  border-radius: 12px;
}

.Model_btn2 {
  width: 102px;
  height: 36px;
  color: white;
  padding: 8px 14px;
  background-color: rgba(111, 53, 255, 1);
  border-radius: 12px;
  border: none;
}

.Model_flex-text-img {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 400px) {
  .Model_flex-text-img {
    gap: 0;
    justify-content: center;
  }
}

.info-box_card__left {
  width: 80px;
  height: 80px;
}

.info-box_card__left img {
  width: 100%;
  height: 100%;
}

.info-box_card__center {
  width: 80px;
  height: 80px;
}

.info-box_card__center img {
  width: 100%;
  height: 100%;
}

.info-box_card__right {
  width: 80px;
  height: 80px;
}

.info-box_card__right img {
  width: 100%;
  height: 100%;
}

.home-info-cover {
  display: flex;
  justify-content: center;
}

.home-cardds__texttt {
  font-size: 14px;
  font-weight: 800;
  max-width: 133px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 370px) {
  .home-cardds__texttt {
    width: 120px;
    height: 80px;
  }
}

.home-cardds__imggg {
  border-radius: 16px;
  background-color: white;
}

.home-cardds__imggg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-list-wrapper {
  overflow: hidden;
  width: 100%;
}

.product-list-inner {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.category-products-container {
  min-width: 100%;
  display: grid; /* Changed to grid */
  grid-template-columns: repeat(2, 1fr); /* Two columns, full width */
  gap: 16px 50px; /* Gap between cards */
  box-sizing: border-box;
  margin-bottom: 20px;
}

.no-products-message {
  width: 100%;
  text-align: center;
  color: #666;
  margin-top: 20px;
}

.fixed-button-container button {
  background: #6f35ff;
  color: white;
  padding: 12px 95px;
  border: 0;
  border-radius: 12px;
  width: 100%;
}

.home-cardds {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
