@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

// SCSS Variables
$padding-top-bottom: 15px;
$padding-right-left-large: 60px;
$padding-right-left-medium: 30px; // Промежуточное значение
$padding-right-left-small: 10px;

// Breakpoints
$breakpoint-medium: 600px; // Например, для планшетов
$breakpoint-small: 400px; // Например, для мобильных

body.modal-open {
  overflow: hidden;
}

.home-container__inner {
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  .home-container__inner {
    width: 100%;
  }
}

.profile_button-cover {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
  padding: 0 10px;
}
.main-header_bg {
  background: radial-gradient(
    circle at center,
    rgb(203, 205, 248) 20%,
    /* Цвет в самом центре */ rgba(203, 205, 248, 0) 80%
      /* Цвет начинает плавно исчезать только с 90% радиуса */
  );
  background-size: 100% 70%;
  background-repeat: no-repeat;
  // padding: 10px;
  padding-top: 20px;
  @media screen and (max-width: 400px) {
    padding-top: 10px;
  }
}

.profile_main-photo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 351px;

  img {
    width: 100%;
  }
}
.profile_mainFlex {
  position: relative;
  padding-top: 170px;
  margin: 0 auto;
  @media screen and (max-width: 400px) {
    padding-top: 120px;
  }
}
@media screen and (max-width: 400px) {
  .profile_main-photo {
    width: 300px;
    height: 100%;
  }
}

.info-box {
  max-width: 600px;
  background-color: white;
  border-radius: 16px;
  padding: $padding-top-bottom $padding-right-left-large;
  transition: padding 0.3s ease; // Плавный переход

  @media (max-width: $breakpoint-medium) {
    padding: $padding-top-bottom $padding-right-left-medium;
  }

  @media (max-width: $breakpoint-small) {
    padding: $padding-top-bottom $padding-right-left-small;
  }
  position: relative;
  margin: 10px;
  text-align: center;
}
.info-box_text {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.info-box_description {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.info-box_cardss {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  gap: 8px;
}
.info-box_card {
  background-color: rgba(44, 30, 79, 1);
  padding: 10px;
  border-radius: 20px;
}
.info-box_card_images {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.info-box_card_img {
  @media screen and (max-width: 400px) {
    width: 25px;
    height: 25px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.info-box_card_text {
  color: white;
  font-size: 10px;
  font-weight: 700;
}

.right-partners button {
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 100px;
  top: -5px;
  left: 100px;
  border: none;
  cursor: pointer;
}

.home-partners-container {
  max-width: 600px;
  margin: 0px 10px 30px 10px;
  padding: 16px;
  border-radius: 16px;
  background: linear-gradient(135deg, #e5e6fa, #babdff);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.home-partners {
  display: flex;
  justify-content: space-between;
}

.left-partners {
  h2 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 8px;
  }
  p {
    font-size: 14px; // Пример
    color: #000;
  }
}

.partners-image {
  width: 150px; // w-32
  height: auto; // h-auto
  // @media screen and (max-width: 400px) {
  //   width: 100px; // w-32
  //   height: auto; // h-auto
  // }
  img {
    width: 100%;
  }
}
.right-partners {
  position: relative;
}

.partners-button {
  position: absolute;
  bottom: 0;
  right: 100px;
  cursor: pointer;
  z-index: auto;
}

.buttons-category {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding: 0 12px;
}

.category-button {
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  border-radius: 20px;
  transition: all 0.3s ease;
  white-space: nowrap;
}

@media screen and (max-width: 400px) {
  .category-button {
    padding: 0;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 12px 14px;
  border-radius: 12px;
  width: 355px;
}

@media screen and (max-width: 400px) {
  .modal-content {
    width: 300px;
  }
}

@media screen and (max-width: 340px) {
  .modal-content {
    width: 270px;
  }
}

.Model_flex-text-img__text {
  width: 200px;
  font-size: 12px;
}

@media screen and (max-width: 340px) {
  .Model_flex-text-img__text {
    width: 180px;
  }
}

.Model_flex-text-title {
  width: 200px;
  font-size: 16px;
}

@media screen and (max-width: 340px) {
  .Model_flex-text-title {
    width: 180px;
  }
}

.Model_flex-text-img__img {
  width: 100px;
  height: 70px;
  margin: 0 5px;
}

.Model_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 400px) {
  .Model_flex {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.Model_price {
  font-size: 20px;
  color: rgba(111, 53, 255, 1);
}

.Model_btn1 {
  width: 102px;
  height: 36px;
  color: rgba(111, 53, 255, 1);
  padding: 8px 14px;
  background-color: #fff;
  border: 1px rgba(111, 53, 255, 1) solid;
  border-radius: 12px;
  cursor: pointer;
}

.Model_btn2 {
  width: 102px;
  height: 36px;
  color: white;
  padding: 8px 14px;
  background-color: rgba(111, 53, 255, 1);
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.Model_flex-text-img {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 400px) {
  .Model_flex-text-img {
    gap: 0;
    justify-content: center;
  }
}

.product-list-wrapper {
  overflow: hidden;
  width: 100%;
}

.product-list-inner {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.category-products-container {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  margin-bottom: 60px;
  padding: 0 5px;
}

.home-cardds {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}
.home-cardds__imggg_cover {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 164px;
  height: 100px;
  margin-bottom: 5px;
  @media screen and (max-width: 400px) {
    width: 140px;
    height: 80px;
  }
}
.home-cardds__imggg {
  cursor: pointer;
  width: 164px;
  height: 100px;
  padding-top: 30px;
  @media screen and (max-width: 400px) {
    width: 140px;
    height: 90px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.home-cardds__texttt {
  font-size: 14px;
  color: #000;
  font-weight: 800;
  margin: 0;
  margin-top: 10px;
}

.no-products-message {
  width: 100%;
  text-align: center;
  color: #666;
  margin-top: 20px;
}

.fixed-button-container button {
  background: #6f35ff;
  color: white;
  padding: 12px 95px;
  border: 0;
  border-radius: 12px;
  width: 100%;
}
